// Colors
//
// Colors for Hitchhiker.
//
// Markup: colors.hbs
//
// Style guide: colors
.color-blue-powder {
  color: $color-blue-powder;
}

.color-white {
  color: $color-white;
}

.color-whitesmoke {
  color: $color-whitesmoke;
}

// Background Colors
.bgcolor-blue-powder {
  background-color: $color-blue-powder;
}

.bgcolor-whitesmoke {
  background-color: $color-whitesmoke;
}
