<h2>Text Colors</h2>
<p class="color-blue-powder">.color-blue-powder</p>
<p class="color-whitesmoke">.color-whitesmoke</p>

<h2>Background Colors</h2>
<p class="bgcolor-blue-powder color-whitesmoke">.bgcolor-blue-powder .color-whitesmoke</p>
<p class="bgcolor-whitesmoke color-blue-powder">.bgcolor-whitesmoke .color-blue-powder</p>
